CapstoneProject_3_ConcreteCrackComputerVission with transfer learning/dataset/
CapstoneProject_3_ConcreteCrackComputerVission with transfer learning/logs/
CapstoneProject_4_NucleiImageSegmentation/dataset/data-science-bowl-2018-2
CapstoneProject_4_NucleiImageSegmentation/seg_log